div.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div.body > p {
  line-height: 0;
}

div.body > p > img {
  width: 100vw;
}

.control {
  left: 0;
  top: 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}
.fps {
  margin: 0.3rem;
  margin-left: 0.5rem;
}
.fps > .number {
  font-weight: bold;
}

.status {
  right: 0;
  top: 0;
  padding: 0.7rem 0.5rem;
}

.overlay {
  z-index: 100;
  background: #000a;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  position: absolute;
  background: #000a;
}
