div.body {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #222;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

div.body > p {
  line-height: 0;
}

div.body > p > img {
  width: 100vw;
}

.fps {
  background: #000a;
  right: 0;
  bottom: 0;
  padding: 0.2rem 0.6rem;
}
.fps > .number {
  font-weight: bold;
}

.control {
  left: 0;
  top: 0;
  padding: 0.7rem 0.5rem;
}

.box {
  position: absolute;
}
